CLIENT_GATEWAY_PORT=3000

STRIPE_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3000/payments/success
STRIPE_CANCEL_URL=http://localhost:3000/payments/cancel

#https://dashboard.stripe.com/acct_1SQuCeENJDfeqpmm/test/workbench/webhooks
STRIPE_ENDPOINT_SECRET=