name: CI/CD Auth Microservice

on:
  push:
    branches:
      - "main"
    paths:
      - "auth-ms/**"

jobs:
  call_build_and_push:
    uses: ./.github/workflows/build-microservice.yml
    with:
      service_name: auth-ms
      dockerfile_path: auth-ms/Dockerfile.prod
      build_args: |
        DATABASE_URL=${{ secrets.AUTH_DB_URL }}
    secrets: inherit
