name: CI/CD Orders Microservice

on:
  push:
    branches:
      - "main"
    paths:
      - "orders-ms/**"

jobs:
  call_build_and_push:
    runs-on: ubuntu-latest
    env:
      ORDERS_DB_URL: ${{ secrets.ORDERS_DB_URL }}
    steps:
      - name: Call the reusable workflow
        uses: ./.github/workflows/build-microservice.yml@main
        with:
          service_name: auth-ms
          dockerfile_path: auth-ms/dockerfile.prod
          build_args: |
            DATABASE_URL=${{ env.ORDERS_DB_URL }}
